* text=auto eol=lf

*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.mp4 binary
*.avi binary
*.mov binary
*.mkv binary
*.npy binary
*.npz binary
*.zip binary
