# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos
.env
.env.*
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Carpetas locales no incluidas en la arquitectura publica
data/
datasets/
models/

# Versionar la estructura, pero no su contenido generado o pesado
videos/*
!videos/.gitkeep

output/*
!output/features/
!output/landmarks/
output/features/*
!output/features/.gitkeep
output/landmarks/*
!output/landmarks/.gitkeep

# Archivos grandes
*.mp4
*.avi
*.mov
*.mkv
*.zip
*.tar
*.tar.gz

# Modelos ML
*.pt
*.pth
*.onnx
*.h5
*.ckpt
*.weights

# Sistema
.DS_Store
Thumbs.db

# Logs
logs/
*.log
syncdrivebiof-f8c1a6350408.json

.vscode/
